<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)" lang="en">
<head>
  <meta charset="UTF-8" />
  <title th:replace="${title}">Duke's Ski Shop</title>
  <link rel="icon" type="image/svg+xml" th:href="@{/images/duke-favicon.svg}" />
  <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body>
  <header th:replace="~{fragments/header :: header}"></header>
  <div class="site-container">
    <div th:replace="~{fragments/messages :: messages}"></div>
    <main>
      <div th:replace="${content}"></div>
    </main>
  </div>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
